
%btn{
    width: 85%;
    height: 30px;
    display: block;
    margin: 30px auto;
    border-radius: 5px;
    text-transform: uppercase;
    color: $white;
    font-weight: $font-weight--medium;
    border: none;
    align-items: center;
}

%btn-media {
   display: flex;
		width: 15%;
		margin: 0% 2.2%;
    }

%border{
    border-radius: 10px;
    font-size: 14px;
    padding: 2%;
    text-align: center;
};

//Nav Items
%nav-item {
  font-size: 18px;
  font-family: $font-stack--primary;
}

%nav-item-link {
  font-family: $font-stack--primary;
  text-decoration: none;
  color: $grey;
}

// Headlines
%hdl--prim  {
  padding-left: 25px;
    color: $primary-color;
    font-size: 32px;
  }
  %hdl--sec {
      margin-left: 20px;
      font-family: $font-stack--primary;
      color: $grey;
      font-weight: $font-weight--thin;
    }
