
%btn{
    width: 85%;
    height: 30px;
    display: block;
    margin: 30px auto;
    border-radius: 5px;
    text-transform: uppercase;
    color: $white;
    font-weight: $font-weight--medium;
    border: none;
    align-items: center;
}

%border{
    border-radius: 10px;
    font-size: 14px;
    padding: 2%;
    text-align: center;
};

//Nav Items
%nav-item {
  font-size: 18px;
  font-family: sans-serif;
}

%nav-item-link {
  line-height: 3.5em;
  text-decoration: none;
  color: $grey;
}

// Headlines
%hdl--prim  {
    color: $primary-color;
    font-size: 30px;
  }
  %hdl--sec {
      margin-left: 20px;
      font-family: $font-stack--primary;
      color: $grey;
      font-weight: $font-weight--thin;
    }
