
%btn{
    width: 85%;
    height: 30px;
    display: block;
    margin: 30px auto;
    border-radius: 5px;
    text-transform: uppercase;
    color: $white;
    font-weight: $font-weight--medium;
    border: none;
    align-items: center;
}
