
// Colors
@mixin bg-colors($map) {
@each $button, $color in $map {
  &--#{$button} {
    background-color: $color;
     @extend %btn;
  }
 }
}

// Grid
@mixin grid($map) {
	@each $col, $color in $map {
		&#{$col} {
				background-color:#{$color};
				@extend %border;
        @content;
	}
 }
}

// Center
@mixin center {
  width: 90%;
  max-width: $max-width;
  margin-left: auto;
  margin-right:  auto;
}
// Create a Flex Container
@mixin flexy (
$disp: flex,
$dir: null,
$wrap: null,
$just: null)
{
  display: flex;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
  @content
}

//BEM Selectors
@mixin e($element) {
  &_#{$element} {
    @content;
  }
}

@mixin m($modifier) {
  #{$modifier} {
    @content;
  }
}

// Media Queries
  @mixin desktop {
	@media (min-width: $brkpoint-med) {
		@content;
	}
  };
