//=====================================================
// Global Configurations
//=====================================================

// Font Stacks

$font-url--google: 'http://fonts.googleapis.com/css?family=Nunito:100,,300,400,500,700';

$font-stack--primary: 'Nunito, sans-serif, Helvetica Arial';
$font-stack--secondary: 'sans-serif, Helvetica Arial';

// Font Weights

$font-weight--thin: 100;
$font-weight--light: 300;
$font-weight--medium: 400;
$font-weight--bold: 500;
$font-weight--ultra-bold: 700;

//Text


// Descriptive Base Colors

//Font Text
$white: #fff;
$black: #0b0b0b;
$grey : #797eb3;

//Buttons
$aqua-marine: #7EF6D5;
$malibu     : #4EE1F9;
$emerald    : #5CC887;
$deep-blush : #E27583;
$apricot    : #EF836C;
$blue-bell  : #9F94CC;

//Color Usage

$primary-color: $aqua-marine;
$secondary-color: $malibu;

//Maps
$button-colors: (
default: $malibu,
success: $emerald,
error  : $deep-blush,
warning: $apricot,
info   : $blue-bell
);

$grid-colors: (
"--12": #84E6CD,
"--8" : #EC9FA7,
"--7" : #EC9FA7,
"--6" : #3DAAD0,
"--5" : #88D6A8,
"--4" : #7CE9FE,
"--3" : #E1B1EE
);
