//Variables
//Colors
$bg-color:	#E4E4E4;
$primary-color: #83F3D3;
$secondary-color: #54DDFB;
$font-color: red;

$btn-colors:(
'default':#83F3D3,
'success':#6DBB83,
'error':#D7777E,
'warning':#F57455,
'info':	#8C7EB4,
);

$gc-colors:(
"--12":#85E3CD,
"--8":#F49B89,
"--7":#ECA0A5,
"--6":#3CABD0,
"--5":#87D8A4,
"--4":#7FE4FF,
"--3":#DEB1EC,
);

//Font Stacks
$font-stack1:  "Times New Roman", Times, serif;
$font-stack2:  Arial, Helvetica, sans-serif;
