
.btn {
  @include bg-colors($button-colors);
}
.grid__col--12 {
 .btn--info,
 .btn--error,
 .btn--default,
 .btn--warning,
 .btn--success {
  @include desktop {
     display: inline;
     width: 15%;
     margin-left: 27px;
  }
 }
}
