
.form {
  @include flexy($dir: column, $just: center);
}
.form__label--hidden {
  display: none;
}
.form__input { 
  padding: 18px;
  margin: 7px 0;
  height: 18px;
  max-width: 75%;
  margin: auto;
  border: none;
  border-bottom: solid 5px $primary-color;
}
