.img--logo {
  padding-top: 20px;
  display: block;
  margin: 0 auto;
}
.img--frame {
display: block;
margin: $centered;
max-width: 100%;
padding: 10px;
border: solid 2px lightgray;
}

.img--avatar {
  display: block;
  margin: 20px auto;
}
