
.card {
  p {
    text-align: justify;
    padding: 19px;
    line-height: 1.7;
    font-size: 17px;
    margin-top: 0;
    color: $grey;
    a {
      line-height: 1.7;
    }
  }
  .headline--primary {
    @extend %hdl--prim;
  }
}
.headline--secondary {
  @extend %hdl--sec;
  }
.blockquote {
  font-style: italic;
  font-size: 21px;
  margin-bottom: 30px;
  padding-left: 9px;
  border-left: 7px $primary-color solid;
}
