* {
  box-sizing: border-box;
}
.container {
  color: $grey;
  font-family: $font-stack--primary;
  margin: 0 auto;
  max-width: $max-width;
}
a {
  line-height: 3.5;
  text-decoration: none;
  color: $grey;
  &:hover {  padding: 0.8em 7.5em;
    border-radius: 6px;
    background-color: $primary-color;
    color: $white;
    margin: 0 auto;
    @include desktop {
      padding: 0.4em 3.75em;
    }
  }
}
